
$color-primary: #192a56;
$color-primary-light: #243c77;
$color-primary-drak: #111d3b;
$color-grey-light-1: #e5eaf0;
$color-grey-light-2: #cbd5e1;
$color-grey-light-3: #94a3b8;
$color-grey-drak-1: #71717a;
$color-grey-drak-2: #3f3f46;
$color-grey-drak-3: #18181b;

$color-custom-1: #4179C4;
$color-custom-2: #022349;
$color-custom-3: #D5F2F8;
$color-custom-4: #798E59;
$color-custom-5: #384559;
$color-custom-6: #6D7C94;



$font-small: 1.4rem;
$font-medimum : 1.5rem;
$font-defaul: 1.6rem;
$font-lagre: 1.7rem;

// reponsive

$rp-hight: 75em; // 1200 / 16
$rp-large:  62.5em; // 1000 / 16
$rp-medimum: 50em; // 800 / 16
$rp-small: 37.5em; // 600 / 16